/********** GLOBAL CSS ****************/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}

.container{
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}


/************ Top-section *******************/
.top-section{
	background: url(../images/banner-bg.png);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.header-section{padding-top: 40px;}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    width: 100%;
}
.nav{
    width: 80%;
    float: left;
    margin-top: 15px;
}
.nav ul{
    float: right;
}
.nav ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: #d6d6d6;
    font-size: 18px;
    text-transform: uppercase;
    transition: all .4s ease;
}
.nav ul li a:hover{
	color: #f7f7f7;
}
.nav ul li .support{
	color: #f7f7f7;
    padding: 10px 44px;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all .4s ease;
}
.nav ul li .support:hover{
	background: #6c63ff;
    color: #f7f7f7;
}
/***** banner-section *******/
.banner-section{
    /* padding-bottom: 276px; */
}
.banner-content{
    width: 50%;
    float: left;
    margin-top: 8%;
}
.banner-content h1{
    color: #f7f7f7;
    font-size: 40px;
    text-transform: uppercase;
}
.banner-content p{
    color: #f7f7f7;
    font-size: 18px;
    margin: 6% 0;
}
.banner-content .button{
}
.banner-content .button .contact{
    text-decoration: none;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #756aff;
    background: #f7f7f7;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid #f7f7f7;
    transition: all .4s linear;
    display: inline-block;
}
.banner-content .button .contact:hover{
	color: #f7f7f7;
    background: transparent;
    border: 1px solid #f7f7f7;
}
.banner-content .button .view{
    text-decoration: none;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f7f7f7;
    background: transparent;
    border: 1px solid #f7f7f7;
    border-radius: 50px;
    font-weight: 600;
    margin-left: 20px;
    transition: all .4s linear;
    display: inline-block;
}
.banner-content .button .view:hover{
	color: #756aff;
    background: #f7f7f7;
}
.img-right{
    width: 50%;
    float: left;
    margin-top: 4%;
}
.img-right img{
    width: 100%;
}


/************* service-section *****************/
.service-section{
    padding: 100px 0;
}
.service-content{
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
.service-content h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.service-content h1 span{
    color: #756aff;
}
.service-content p{
    color: #3f3f3f;
    font-size: 18px;
}

.service-box{
    margin-top: 80px;
}
.single-box{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.single-box img{}
.single-box h2{
    color: #3f3f3f;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.single-box p{
    color: #3f3f3f;
    font-size: 18px;
    margin-bottom: 25px;
}
.single-box a{
    color: #756aff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}
.single-box a:hover{
	text-decoration: underline;
}


/********** lead-section *************/
.lead-section{
	background: url(../images/lead-bg.png);
	padding: 60px 0;
}
.left-section{
    width: 50%;
    float: left;
}
.lead-content{width: 50%;float: right;}
.lead-content h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
}
.lead-content h1 span{
    color: #756aff;
}
.lead-content p{
    font-size: 18px;
    color: #3f3f3f;
    margin: 40px 0;
}
.lead-content p:first-child{
	margin-bottom: 20px;
}
.contact-btn{
    text-decoration: none;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #756aff;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(90deg, rgba(1,180,234,1) 0%, rgba(92,77,253,1) 100%);
    color: #fff;
    transition: all .4s linear;
}
.contact-btn:hover{
	background: linear-gradient(90deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
}


/************ complete-project ****************/
.complete-project{
	background: url(../images/complete-project-bg.png);
	padding: 100px 0;
	background-size: cover;
	background-position: center;
}
.complete-project h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;
}
.complete-project h1 span{
    color: #756aff;
}
.complete-box{
    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 0 15px;
}
.complete-box .hover-bg{
    padding: 20px 0;
}
.complete-box .hover-bg:hover{
    background: #f6fbff;
    transition: all .4s ease;
}
.complete-box .hover-bg h2{
    font-size: 35px;
    color: #756aff;
}
.complete-box .hover-bg p{
    font-size: 20px;
    color: #3f3f3f;
    margin-top: 10px;
}

/************ portfolio-section *************/
.portfolio-section{
    padding: 100px 0;
}
.portfolio-content{
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
.portfolio-content h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.portfolio-content h1 span{
    color: #756aff;
}
.portfolio-content p{
    font-size: 18px;
    color: #3f3f3f;
    margin-bottom: 90px;
}

.portfolio{}
.portfolio-title{
    text-align: center;
    margin-bottom: 50px;
}
.portfolio-title ul{
    display: inline-block;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #756aff;
    border-radius: 50px;
}
.portfolio-title ul li{
    list-style: none;
    float: left;
}
.portfolio-title ul li a{
    font-size: 18px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 30px;
    display: block;
    transition: all .3s linear;
}
.portfolio-title ul li a:hover{
	background: #756aff;
    border-radius: 50px;
    color: #fff;
}

.portfolio-box{
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.portfolio-box .img-hover{
    position: relative;
}
.img-hover img{
    width: 100%;
    display: block;
}
.img-hover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(92,77,253,0.700717787114846) 0%, rgba(1,180,234,0.700717787114846) 100%);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .5s linear;
    
}
.img-hover .overlay h3{
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #f6fbff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.img-hover .overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-hover .overlay li{
    list-style: none;
    display: inline;
    color: #fff;
    background: #f6fbff33;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.img-hover:hover .overlay{
	opacity: 1;
}


/********** work-with-us **************/
.work-with-us{
	background: url(../images/work-bg.png);
	text-align: center;
	/* padding: 100px 0; */
}
.work-with-us .overlay-bg{
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(92,77,253,0.8995973389355743) 0%, rgba(1,180,234,0.8995973389355743) 100%);
}
.work-content{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}
.work-content h1{
    color: #f7f7f7;
    font-size: 35px;
    margin-bottom: 20px;
}
.work-content p{
    color: #f7f7f7;
    font-size: 18px;
    margin-bottom: 60px;
}


.submit-form{
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 75%;
    overflow: hidden;
}
.submit-form form{
    background: #f6fbff;
    width: 100%;
    padding: 30px 0;
    position: relative;
    border-radius: 50px;
}
.submit-form form .name{
    width: 35%;
    float: left;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 22px;
}
.submit-form form .name input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: #3f3f3f;
    background: #f6fbff;
}
.submit-form form .name input[type="text"]:focus{
    outline: none;
}
.submit-form form span{
	content: '';
	position: absolute;
	background: #8a8787;
	top: 7px;
	left: 367px;
	height: 46px;
	width: 2px;
}
.submit-form form .email{
    width: 35%;
    float: left;
    position: absolute;
    top: 0;
    left: 263px;
    width: 35%;
    float: left;
    text-align: left;
    position: absolute;
    top: 10px;
    left: 370px;
}
.submit-form form .email input[type="email"]{
    width: 85%;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: #3f3f3f;
    background: #f6fbff;
    padding-left: 25px;
}
.submit-form form .email input[type="email"]:focus{
    outline: none;
}
.submit-form form .submit-btn{
    width: 30%;
    float: left;
    position: absolute;
    right: -29px;
    top: 0;
}
.submit-form form .submit-btn input[type="submit"]{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(90deg, rgba(1,180,234,1) 0%, rgba(92,77,253,1) 100%);
    color: #fff;
    transition: all .4s linear;
    border: none;
    padding: 20px 65px;
    cursor: pointer;
    transition: all .4s linear;
}
.submit-form form .submit-btn input[type="submit"]:hover{
	background: linear-gradient(90deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
}


/*************** client-section ****************/
.client-section{
    padding: 100px 0;
}
.top-content{
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
}
.top-content h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.top-content h1 span{
    color: #756aff;
}
.top-content p{
    color: #3f3f3f;
    font-size: 18px;
}
.client-box{
    margin-top: 80px;
}
.client-box .box{
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.client-box .box .client{
   
position: relative;
   
/* border: 1px solid #dedbdb59; */
   
box-shadow: 1px 3px 6px 0 #dedbdb59;
}
.client-box .box .client .bg-overlay{
	 background: linear-gradient(90deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
	 height: 200px;
	 width: 100%;
	 display: inline-block;
	 position: relative;
	 z-index: -1;
}
.client-box .box .client .bg-overlay .bg-white{
	content: '';
	height: 304px;
	width: 496px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: -208px;
	left: -41px;
}
.client-box .box .client .img-box{
    text-align: center;
    /* position: absolute; */
}
.client-box .box .client .img-box img{
    border: 5px solid #3f3f3f;
    border-radius: 50%;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
}
.client-box .box .client .img-box h2{
    font-size: 25px;
    text-transform: uppercase;
    color: #7b99fe;
    margin-top: 30px;
}
.star{margin: 25px 0 5px 0;}
.star ul{}
.star ul li{
    display: inline;
    list-style: none;
    color: #7b99fe;
}
.star ul li i{}
.img-box .social{}
.img-box .social ul{}
.img-box .social ul li{
    list-style: none;
    display: inline;
    font-size: 20px;
    padding: 0 2px;
    color: #3f3f3f;
    cursor: pointer;
}
.img-box .social ul li i{}
.img-box p{
    font-size: 18px;
    color: #3f3f3f;
    padding: 40px 0;
}


/************ contact-us-section ****************/
.contact-us-section{padding-bottom: 100px;}
.contact-title{
    text-align: center;
    max-width: 55%;
    margin: 0 auto;
}
.contact-title h1{
    font-size: 35px;
    color: #3f3f3f;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.contact-title h1 span{
    color: #756aff;
}
.contact-title p{
    color: #3f3f3f;
    font-size: 18px;
    margin-bottom: 50px;
}
.contact-box{}
.contact-box-one{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.contact-box-one .single-box-bg{
    background: #eef9ff;
    padding: 30px 0;
}
.contact-box-one .single-box-bg span{
    color: #7b99fe;
    font-size: 35px;
}
.contact-box-one .single-box-bg span i{}
.contact-box-one .single-box-bg p{
    margin-top: 20px;
    font-size: 18px;
    color: #3f3f3f;
}

.form-box{padding-top: 30px;
	overflow: hidden;
	width: 100%;}
.form{
    width: 50%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.form .FormName{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
.form .FormName input[type="text"]{
    width: 100%;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    background: #fafafa;
    border: 1px solid #e6e3e3;
    font-size: 18px;
    color: #3f3f3f;
}
.form .FormName input[type="text"]:focus,
.form .FormEmail input[type="email"]:focus,
.form .FormSub input[type="text"]:focus,
.form .FormText textarea:focus{
	    outline: 1px solid #5653fc7a;
}
.form .FormEmail{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
}
.form .FormEmail input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    background: #fafafa;
    border: 1px solid #e6e3e3;
    font-size: 18px;
    color: #3f3f3f;
}

.form .FormSub{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.form .FormSub input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    background: #fafafa;
    border: 1px solid #e6e3e3;
    font-size: 18px;
    color: #3f3f3f;
}
.form .FormText{}
.form .FormText textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    background: #fafafa;
    border: 1px solid #e6e3e3;
    font-size: 18px;
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
}
.form .FormBtn{}
.form .FormBtn input[type="submit"]{
    padding: 15px 70px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(1,180,234,1) 0%, rgba(92,77,253,1) 100%);
    color: #fff;
    transition: all .4s linear;
    cursor: pointer;
    margin-top: 20px;
}
.form .FormBtn input[type="submit"]:hover{
    background: linear-gradient(90deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
}

.form-box .form-img{
    width: 50%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}
.form-box .form-img img{
	margin-left: 145px;
}

/************** footer *************/
footer{
    background: linear-gradient(90deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
    padding: 30px 0;
    position: relative;
}
.copy-right{
    width: 70%;
    float: left;
}
.copy-right p{
    font-size: 18px;
    color: #fff;
}
.social-icon{
    width: 30%;
    float: left;
}
.social-icon ul{
    float: right;
}
.social-icon ul li{
    list-style: none;
    display: inline;
    margin-left: 5px;
}
.social-icon ul li a{
    font-size: 20px;
    color: #fff;
}


.top{
    position: fixed;
    right: 30px;
    bottom: -8px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: linear-gradient(360deg, rgba(92,77,253,1) 0%, rgba(1,180,234,1) 100%);
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}
